# i3-rofi-mark

Convenience utility for the [i3](https://i3wm.org/) X11 window manager.
[Mark and select windows](https://i3wm.org/docs/userguide.html#vim_like_marks) with using gui pop ups.
Save time navigating windows particularly between workspaces.

Requires [zenity](https://github.com/GNOME/zenity) and [rofi](https://github.com/DaveDavenport/rofi).

Requires python3 but can co-exist with python2.


# Installing

```
apt-get install python3
pip3 install git+https://github.com/talwrii/i3-rofi-mark#egg=i3-rofi-mark
```

# Usage

```
{usage}
```


# Alternatives and prior work


I carried out the following searches ["i3 marks" on github](https://github.com/search?utf8=✓&q=i3+marks&type=),
"i3wm marks" on google, ["marks" on i3's reddit](https://www.reddit.com/r/i3wm/search?q=marks&restrict_sr=on&sort=relevance&t=all) on 2018-05-07.

* Before writing this, I found an undocumented tool written in Rust: [i3-automark](https://github.com/lincheney/i3-automark/tree/master/src). This appears to automatically [mark windows with a names taken from a predefined list](https://github.com/lincheney/i3-automark/blob/master/src/main.rs#L53).
* [i3-wm-scripts](https://github.com/MicahChambers/i3-wm-scripts) contain similar bash utilities, to [mark](https://github.com/MicahChambers/i3-wm-scripts/blob/master/mark), [goto](https://github.com/MicahChambers/i3-wm-scripts/blob/master/goto) and [unmark](https://github.com/MicahChambers/i3-wm-scripts/blob/master/unmark) windows.
* Tools like [quickswitch-for-i3](https://github.com/OliverUv/quickswitch-for-i3) allow you to navigate windows by title (rather than marks).

# Testing

This tool is difficult to test since it is gui glue code. However, some basic syntax and dependency checking exists in `test.sh`.

# See also (and flagrant self-promotion)

* [i3 assistant](https://github.com/budRich/i3ass) provides some useful related  tools.
* [i3-clever-layout](https://github.com/talwrii/i3-clever-layout) is a tool by the author to intelligently save and restore layouts.
* [i3parse](https://github.com/talwrii/i3parse) a tool by the author to introspect your i3 configuration. Search your keybindings, find free keybindings for new functionality.



